.imageClass {
	width:5em;
	float:right;
}
.videoClass {
	float:right;	
}
h1 {
	font-size: 1.5em;	
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1em;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: .1em;
	margin-left: 0em;
}
dl dt {
	font-weight: bold;	
}
.attribution {
	background-color: #CCC;
	width: 100%;
	font-size:.8em;
	padding:.5em 0 .5em 0;
	border:.1em solid;
	border-radius:.5em;
	text-align:center;
	font-family: "Arial Black", Gadget, sans-serif;
	float:right;
}